.navbar-Show {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;

    animation: fade-in 500ms forwards;
    
}

.navbar-Hide {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1E1E1E;

    animation: fade-out 500ms forwards;
    
}
  
.left-Show {
    display: flex;
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.left-Hide {
    display: none;
}
  
.middle {
    position: relative;
    display: flex;
    height: 100%;
    width: 33%;
    
    justify-content: center;
}
  
.right-Show {
    display: flex;
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: center;
  
}

.right-Hide {
    display: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: "Google Sans",Arial,sans-serif;
    font-weight: bold;
  
    background-color: #4CAF50;
    width: 25%; 
    height: 50%;
    font-size: 3vh;
    
    border: 1px solid black;
    border-radius: 2vh;
    
    transition: 0.5s ease-in-out; 
}

.button:hover {
    background-color: #3c8b3f;
    transition: 0.5s ease-in-out; 
    cursor: pointer;
    border: 1px solid #B6D4B7;
    color: #B6D4B7;
}

.button:active {
    background-color: #3c8b3f;
    box-shadow: 0 2px #302f2f;
    transform: translateY(1px);
    border: 1px solid #B6D4B7;
    color: #B6D4B7;
}

.showhide-container {
    position: fixed;
    bottom: 0;
    left: 0;

    top: 90%;
    left: 90%;

}

.Show{
    position: absolute;

    border: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;

    background-color: rgba(31, 31, 31, 0.7);
    
    animation: move-up 500ms forwards;
}

.Show:hover{
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.7);
    transition: 0.5s ease-in-out; 
    border: 1px solid lightgrey;
}

.Hide{
    position: fixed;
    
    border: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    

    background-color: rgba(31, 31, 31, 0.7);  

    animation: move-down 500ms forwards;
}

.Hide:hover{
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.7);
    transition: 0.5s ease-in-out; 
    border: 1px solid lightgrey;
}


.Hide-arrow{
    width: 0; 
    height: 0; 
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  
    border-bottom: 8px solid white;
}

.Show-arrow{
    width: 0; 
    height: 0; 
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  
    border-top: 8px solid white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

@keyframes move-up {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: 60px;
    }
}

@keyframes move-down {
    0% {
        bottom: 60px;
    }
    100% {
        bottom: 10px;
    }
}